::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 91, 75, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ff5b4b;
    border-radius: 20px;
}

body{
    overflow-x: hidden;
    font-family:Verdana, sans-serif;
}

nav{
    background: rgba(255, 91, 75, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    vertical-align: text-bottom;
    height: 80px;
    gap: 20%;
    position: fixed;
    z-index: 100;
}

nav img{
    padding-top: 5%;
    height: 90%;
    transition: height 0.5s, margin 0.5s;
}

nav img:hover{
    height: 130%;
    margin-left: -10px;
    cursor: pointer;
}

nav div{
    height: 100%;
    display: flex;
}

nav span{
    margin:  30px 20px;
    padding-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(255, 91, 75, 1);
}

nav span:hover{
    color: rgb(90, 34, 29);
    cursor: pointer;
    animation: hoverSpan 1s;
}

@keyframes hoverSpan{
    from{
        color: rgba(255, 91, 75, 1);
    }
    to{
        color: rgb(90, 34, 29);
    }
}

.kelasPanahBawahHover{
    animation: kelasSaatHover 1s;
    border-top: 8px solid rgb(90, 34, 29);
}

@keyframes kelasSaatHover {
    from{
        border-top: 8px solid rgba(255, 91, 75, 1);
    }
    to{
        border-top: 8px solid rgb(90, 34, 29);
    }
}

.kelasPanahBawah{
    border-top: 8px solid rgba(255, 91, 75, 1);
    animation: KelasTanpaHover 1s;
}

@keyframes KelasTanpaHover {
    from{
        border-top: 8px solid rgb(90, 34, 29);
    }
    to{
        border-top: 8px solid rgba(255, 91, 75, 1);
    }
}

.categ{
    display: flex;
    vertical-align: baseline;
}

.panah-bawah {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin-top: 6px;
}

.panah-bawah-warna{
    border-top: 8px solid #ff5b4b;
} 

.drop-down{
    background: rgba(255, 217, 213, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 10;
    position: absolute;
    display: none;
    text-align: center;
    margin-top: 85px;
    margin-left: 500px;
    height: auto;
    border-radius: 5px;
}

.right .drop-down span{
    padding: 10px;
    box-shadow: none;
    margin: 0;
}

.ganjelan{
    padding-top: 80px;
}

.on-page{
    border-bottom: solid 3px rgb(90, 34, 29);
    color: rgb(90, 34, 29);
}

.on-page:hover{
    animation: none;
}