main{
    padding: 20px 0;
    width: 100%;
    display: grid;
    row-gap: 30px;
}

main div{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}

main div span{

}

